<h1>Properties</h1>
<form>
  <label for="location">Location</label><input type="text" name="location" id="location_input">
  <input type="hidden" id="API_key" value="<%= ENV['API_key'] %>">
</form>
<div id="results">
</div>