<header>
  <h1>Properties</h1>
  <label for="property_id">Property ID</label><input type="text" name="property_id" id="location_input" autofocus>
  <input type="hidden" id="API_key" value="<%= ENV['API_key'] %>">
</header>
<main>
</main>